<div class="card">
    <h2 class="card-title">{{name}}</h2>
    <div class="card-content">
        <table>
            <tbody>
                <tr>
                    <td class="name">code 2 sign</td>
                    <td>{{alpha2Code}}</td>
                </tr>
                <tr>
                    <td class="name">code 3 sign</td>
                    <td>{{alpha3Code}}</td>
                </tr>
                <tr>
                    <td class="name">tel code</td>
                    <td>{{callingCodes}}</td>
                </tr>
                <tr>
                    <td class="name">capital</td>
                    <td>{{capital}}</td>
                </tr>
                <tr>
                    <td class="name">population</td>
                    <td>{{population}}</td>
                </tr>
                <tr>
                    <td class="name">timezones</td>
                    <td>
                        {{#each timezones}}
                        <span>{{this}}</span>
                        {{/each}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="img-wrp">
            <img src="{{flag}}" alt="flag of {{name}}" width="480" />
        </div>
    </div>
</div>